/* General Reset */
body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    min-height: 100vh;
}

.tex sub,
.latex sub,
.latex sup {
    text-transform: uppercase;
    vertical-align: 0.4ex;
}

.tex sub,
.latex sub {
    vertical-align: -0.2ex;
    margin-left: -0.1667em;
    margin-right: -0.1em;
}

/* Header */
.header {
    background-color: #ACAF50;
    background-color: #008080;
    color: white;
    text-align: left;
    padding: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    text-indent: 30px;
}

.custom-header {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Vertical Menu */
.menu {
    width: 120px;
    background-color: #333;
    padding: 0;
    margin-top: 0px;
    position: fixed;
    top: 50px;
    height: 100vh;
    overflow-y: auto;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin: 0;
}

.menu a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.menu a:hover {
    background-color: #575757;
}

/* Content */
.content {
    flex: 1;
    margin-left: 130px;
    padding: 10px;
    margin-top: 60px;
    /* To clear the fixed header */
}

/* Footer */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}