body {
    background-color: rgb(250, 250, 250);
    padding: 0px 30px 6px 40px;
}

h1 {
    color: blue;
}

p {
    color: rgb(133, 10, 10);
}

.tex sub,
.latex sub,
.latex sup {
    text-transform: uppercase;
}

.tex sub,
.latex sub {
    vertical-align: -0.5ex;
    margin-left: -0.1667em;
    margin-right: -0.125em;
}

.tex,
.latex,
.tex sub,
.latex sub {
    font-size: 1em;
}

.latex sup {
    font-size: 0.85em;
    vertical-align: 0.15em;
    margin-left: -0.36em;
    margin-right: -0.15em;
}

img {
    height: 90pt;
}

td {
    vertical-align: bottom;
    padding-right: 7pt;
}

img.animated-gif {
    width: 25px;
    height: auto;
    margin-top: 1pt;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
}